* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: white;
  font: 15px Palatino, georgia, "times new roman", serif;
  *font-size: small;
  color: #444;
  line-height: 1.5em;
}

.site {
	width: 600px;
	margin: 30px auto;
}	

h1, h2, h3, h4, h5, h6 {
  font-size: 120%;
  margin-top: 1.5em;
}

h1.title {
	font-size: 27px;
	color: #999;
	font-style: italic;
	font-weight: normal;
	margin: 50px 0;
}

.post img {
	width: 600px;
}

h1 {
  margin-bottom: 1em;
}

p {
  margin: 1.5em 0;
}

a {
  color: #933;
}

