* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: white;
  font: 13pt Palatino, georgia, "times new roman", serif;
  *font-size: small;
  color: #333;
  line-height: 1.5em;
}

.site {
	width: 600px;
	margin: 30px auto;
}	

h1, h2, h3, h4, h5, h6 {
  font-size: 120%;
  margin-top: 1.5em;
}

.post h2 { margin-top: 2.5em; }

h3, h4, h5, h6 {
  font-size: 105%;
}

h1.title {
	font-size: 22pt;
	color: #944;
	font-weight: bold;
	margin: 50px 0;
	font-family: Nevis, Futura, Lato, Helvetica Neue, Arial;
	line-height: 1.25em;
	text-transform: uppercase;
}

.post img {
	max-width: 1000px;	
}

.post .img {
	left: -200px;
    position: relative;
    text-align: center;
    width: 1000px;
}

h1 {
  margin-bottom: 1em;
}

p {
  margin: 1.5em 0;
}

a {
  color: #933;
}

code { 
	background: #F5F3F3;
	padding: 2px 1ex;
	font-size: 90%;
}

ul, ol {
	margin: 1.5em 1.5em;
}
