<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>{{ page.title }}</title>
	<meta name="author" content="Gregor Aisch" />
	<link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
	<script type="text/javascript" src="/js/ender.min.js"></script>
	<script type="text/javascript">
$.domReady(function() { $('.post img').each(function(el){ var c=$('<div class="img" />'), p = $(el).parent(); c.append(el); p.append(c); }) });
	</script>
</head>
<body>
	<div class="site">
	{{ content }}  
	</div>
</body>
</html>
